<h2>Contact Coder's Pie Shop</h2>
<p>If you have any questinos, please don't hesitate to get in touch. Click below to send us an email.</p>

<email address="info@@example.com" content="Contact Us"></email>