
<div id="pieDiv">


</div>

@section scripts{

    <script>
        var skipCount = 0;
        var count = 10;
        $(document).ready(function () {
            LoadMorePies(count);
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                LoadMorePies(count);
            }
        });

        function LoadMorePies(takeCount) {

            $.get({
                url: '/api/PieApi',
                dataType: 'json',
                data: {skipCount:skipCount , takeCount:takeCount},
                success: function (jsonData) {
                    if (jsonData == null) {
                        alert('no data returned');
                        return;
                    }

                    $.each(jsonData, function (index, pie) {

                        var PieSummarString = '<div class="col-sm-4 col-lg-4 col-md-4"> ' +
                                              '  <div class="thumbnail">' +
                                              '     <img src="' + pie.imageThumbnailUrl + '" alt="">' +
                                              '      <div class="caption">' +
                                              '         <h3 class="pull-right">' + pie.price + '</h3>' +
                                              '         <h3>' +
                                              '             <a href=/Pie/Details/' + pie.pieId + '>' + pie.name + '</a>' +
                                              '         </h3>' +
                                              '         <p>' + pie.shortDescription + '</p>' +
                                              '    </div>' +
                                              '    <div class="addToCart">' +
                                              '        <p class="button">' +
                                              '             <a class="btn btn-primary" href=/ShoppingCart/AddToShoppingCart?pieId=' + pie.Id + '>Add to cart</a>' +
                                              '         </p>' +
                                              '     </div>' +
                                              '  </div>' +
                                              '</div>';

                        $('#pieDiv').append(PieSummarString);
                        skipCount ++;
                    });
                },
                error: function (ex) {
                    alert(ex);
                }
            });
            return false;
        }
    </script>

}